# Copyright (c) 2022 Brian Bradley
# SPDX-License-Identifier: Apache-2.0

menuconfig MICROCRYSTAL_RV_RTC_CALENDAR
	bool "Microcrystal rv-xxxx based calendar API implementation"
	select I2C
	help
	  Enable driver for a Micro Crystal rtc time api

config RESET_BACKUP_DOMAIN
	bool "Optionally force a reset of the backup domain on init"
