# Copyright (c) 2022 Brian Bradley
# SPDX-License-Identifier: Apache-2.0

menuconfig RV8263_RTC_CALENDAR
	bool "RV8263 based calendar API implementation"
	select I2C
	help
	  Enable driver for Micro Crystal RV8263 rtc time api
